<div class="card m-2">
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" ><span class="material-symbols-outlined">
                person
                </span> {{label}}</a>
            <div>
                <span *ngIf="!isUserSelected" (click)="selectUser()"><i class="fa fa-plus"></i> Add</span>
                <span *ngIf="isUserSelected">
                    <span class="m-2" (click)="deleteUser()"><i class="fa fa-trash"></i></span>
                    <span (click)="changeUser()"><i class="fa fa-pencil"></i></span>
                </span>
            </div>
        </div>
    </nav>


    <div class="card-body">
        <form [formGroup]="userForm" class="row">
            <div class="col-12">
                <!-- <label for="name" class="col-form-label-sm">Name</label>
                <input type="text" class="form-control form-control-sm" id="name" formControlName="name"> -->
                <app-input [label]="'Name'" [inputType]="'text'" formControlName="name"></app-input>
            </div>
            <div class="col-sm-6">
                <label for="username" class="col-form-label-sm">Username</label>
                <input type="text" class="form-control form-control-sm" id="username" formControlName="username">
            </div>
            <div class="col-sm-6">
                <label for="email" class="col-form-label-sm">Email</label>
                <input type="email" class="form-control form-control-sm" id="email" formControlName="email">
            </div>
            <div class="col-sm-6">
                <label for="city" class="col-form-label-sm">City</label>
                <input type="text" class="form-control form-control-sm" id="city" formControlName="city">
            </div>
            <div class="col-sm-6">
                <label for="phone" class="col-form-label-sm">Phone</label>
                <input type="text" class="form-control form-control-sm" id="phone" formControlName="phoneNumber">
            </div>

        </form>
    </div>
</div>